<div class="container" ng-controller="MainController as vm">

    <div class="page-title">

        <div class="text">
            <div class="book">Book</div>
            <div class="reviews">Reviews</div>
        </div>

        <div class="review-stats">
            <div class="average">
                <span ng-repeat="i in [1, 2, 3, 4, 5]"
                      class="star glyphicon glyphicon-star"
                      ng-class="{active: vm.averageRating() >= i}">
                </span>
            </div>
            <div class="total">
                {{vm.reviews.length}} Total Reviews
            </div>
        </div>

    </div>

    <div class="filter-buttons-title">
        See reviews from:
    </div>

    <div class="row">

        <div class="main-content col-sm-9">

            <div class="reviews-header">
                <div class="filter-buttons">
                    <button ng-repeat="f in vm.filters"
                            ng-click="vm.filterProp = f.filterProp"
                            class="btn user-type {{f.type}}"
                            ng-class="{active: vm.filterProp === f.filterProp}">
                        <span class="label">{{f.label}}</span>
                        <span class="count">({{vm.reviewCountByUserType(f.type)}})</span>
                    </button>
                </div>
                <div class="sorting">
                    <div class="selected">
                        <div class="title">{{vm.order.title}}</div>
                        <div class="reviews">Reviews</div>
                    </div>
                    <label class="select pull-right">
                        Sort by:
                        <select ng-model="vm.order" class="btn"
                                ng-options="item as item.label for item in vm.orders">
                        </select>
                    </label>

                </div>
            </div>

            <div class="reviews-list">
                <div class="review-item"
                     ng-repeat="review in vm.reviews | filter:vm.filterProp | orderBy:vm.order.prop | limitTo:3">
                    <div class="review-header">
                        <div class="review-meta">
                            <div class="date">{{review.date | date:'MMMM d, y'}}</div>
                            <div class="user">{{review.user.firstname}} {{review.user.lastname}}</div>
                            <div class="book-type">{{review.book_type}}</div>
                        </div>
                        <div class="review-rating">
                            <span ng-repeat="i in [1, 2, 3, 4, 5]"
                                  class="star glyphicon glyphicon-star"
                                  ng-class="{active: review.rating >= i}">
                            </span>
                        </div>
                        <div class="review-title">{{review.title}}</div>
                    </div>
                    <div class="review-content">
                        {{review.content | limitTo:1000}}
                    </div>
                    <div class="review-footer">
                        <a href="" class="read-more" ng-if="review.content.length > 1000">
                            Read more...
                        </a>

                        <div class="helpful-stats">
                            {{review.helpful_count}} out of {{review.helpful_count + review.not_helpful_count}}
                            found this review helpful.
                        </div>
                        <div class="actions">
                            <span class="is-this-helpful">Was this review helpful to you?</span>
                            <a class="vote helpful" href="" ng-click="vm.helpful(review)">
                                <i class="glyphicon glyphicon-thumbs-up"></i>
                                Helpful
                            </a>
                            <a class="vote not-helpful" href="" ng-click="vm.notHelpful(review)">
                                <i class="glyphicon glyphicon-thumbs-down"></i>
                                Not Helpful
                            </a>
                            <a class="flag" href="">
                                <i class="glyphicon glyphicon-flag"></i>
                                Flag This Content For Review
                            </a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="reviews-footer">
                <button class="btn btn-default see-all-reviews">
                    See all {{vm.reviews.length}} reviews
                    <i class="glyphicon glyphicon-chevron-right"></i>
                </button>
                <button class="add-a-review btn btn-primary pull-right">
                    <i class="glyphicon glyphicon-comment"></i>
                    Add a review
                </button>
            </div>

        </div>

        <div class="sidebar col-sm-3">

            <div class="review-stats">
                <div class="average-rating">
                    <div class="in-stars">
                        <span ng-repeat="i in [1, 2, 3, 4, 5]"
                              class="star glyphicon glyphicon-star"
                              ng-class="{active: vm.averageRating() >= i}">
                        </span>
                    </div>
                    <div class="in-words">
                        Average Rating: {{vm.averageRating()}} out of 5 stars
                    </div>
                </div>
                <div class="histogram">
                    <div class="item" ng-repeat="i in [5, 4, 3, 2, 1]">
                        <div class="star-count">{{i}} STAR</div>
                        <div class="bar">
                            <div class="filled"
                                 ng-style="{'width': vm.reviewCountByRating(i)*100/vm.reviews.length + '%'}">
                            </div>
                        </div>
                        <div class="rating-count">
                            ({{vm.reviewCountByRating(i)}})
                        </div>
                    </div>
                </div>
                <div class="footer">
                    <a class="view-all-reviews">
                        View all {{vm.reviews.length}} reviews
                    </a>
                    <button class="add-a-review btn btn-primary">
                        <i class="glyphicon glyphicon-comment"></i>
                        Add a review
                    </button>
                </div>
            </div>

            <div class="cart-wrapper">
                <div class="cart">
                    <div class="book-type">Paperback</div>
                    <div class="price">$2.00</div>
                    <button class="btn btn-block btn-warning add-to-cart">Add to cart</button>
                    <button class="btn btn-block btn-default buy-elsewhere">
                        Buy elsewhere
                        <i class="glyphicon glyphicon-chevron-down"></i>
                    </button>
                    <div class="or">-OR-</div>
                    <button class="btn btn-block btn-danger buy-ebook-now">Buy ebook now</button>
                </div>
            </div>
        </div>

    </div>

</div>
